<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>User Dashboard</title>
</head>
<body>
    <div class="container">
        <h1 class="text-primary mx-auto">Welcome to Car Dealz, {{user.first_name}}!</h1>
        <div class="d-flex justify-content-between align-items-center">
            <h3>Cars for Sale:</h3>
            <div class="d-flex-row">
                <!-- renders 'purchases' page-->
                <a href="/purchase/history" class="btn btn-primary">My Purchases</a>
                <!-- clears user session, redirects to login page-->
                <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
        <table class="table table-dark">
            <tr>
                <th>Model</th>
                <th>Year</th>
                <th>Seller</th>
                <th>Actions</th>
            </tr>

            {% for car in cars %}
                <tr>
                    <td>{{car.model}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.seller.first_name}} {{car.seller.last_name}}</td>
                    <td>
                        {% if car.purchase_id %}
                            SOLD
                        {% else %}
                            <a href="/show/car/info/{{car.id}}" class="btn btn-primary">View</a> 
                            {% if session.user_id == car.seller.id %}
                                <a href="/edit/form/{{car.id}}" class="btn btn-primary">Edit</a> 
                                <a href="/delete/posting/{{car.id}}" class="btn btn-danger">Delete</a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <a href="/post/car" class="btn btn-primary float-right">Add A Car</a>

    </div>
</body>
</html>